<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form
    #f="ngForm"
    (ngSubmit)="onConfirm(f)">

    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-item>
            <ion-input
              type="password"
              name="currentPassword"
              placeholder="Current password"
              required
              minlength="6"
              ngModel
              #currentPassword="ngModel"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            <ion-input
              type="password"
              name="newPassword"
              placeholder="New password"
              required
              minlength="6"
              ngModel
              #newPassword="ngModel"></ion-input>
          </ion-item>

          <p
            *ngIf="!newPassword.valid && newPassword.touched"
            padding>
            Password must be at least 6 characters long.
          </p>

          <p
            *ngIf="newPassword.touched && currentPassword.touched && newPassword.value === currentPassword.value"
            padding>
            New password must be different.
          </p>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-item>
            <ion-input
              type="password"
              name="confirmPassword"
              placeholder="Confirm new password"
              required
              minlength="6"
              ngModel
              #confirmPassword="ngModel"></ion-input>
          </ion-item>

          <p
            *ngIf="newPassword.touched && confirmPassword.touched && newPassword.value !== confirmPassword.value"
            padding>
            New passwords did not match.
          </p>

        </ion-col>
      </ion-row>
    </ion-grid>

    <button
      ion-button
      type="submit"
      block
      [disabled]="!f.valid || f.value.newPassword !== f.value.confirmPassword">
      Save
    </button>
    <button
      ion-button
      type="button"
      block
      (click)="onCamera()">
      Camera
    </button>

    <button
      ion-button
      type="button"
      block
      (click)="onKeyboard()">
      Keyboard
    </button>
  </form>
</ion-content>
